.list-group {
    margin-bottom: 0px;
}

.titleColor {
   
}

.pageTitle {
    margin-bottom: 30px;
    color: #FFFDD0
}

.well {
    background-color: #002db3
}

h2 {
    color: #333;
}
@font-face {
    font-family: pixelFont;
    src: url("font/PixelCyr-Normal.woff");
}

div {
    font-family: pixelFont;
}

th {
    text-align: center;
    color: #31708f;
}

.table > tbody > tr > td {
    vertical-align: middle;
}